@import "../app-palette/pallete.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $sans-serif;
}

.features {
    // border: black solid 2px;
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.feature-container {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 10px;
}

.feature-item {
    border: black solid 2px;
    // padding: 5%;
}

.feature-text {
    border: black solid 2px;
    margin: 10px;
}

.feature-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;
}

.feature-description {
    padding: 5%;
    text-align: center;
}

.icon {
    margin: 30px auto;
    width: 30%;
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .feature-item {
        max-width: 100%;
    }

    .icon {
        width: 20%;
    }
}