@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

//Fonts
$sans-serif : 'Roboto', sans-serif; //400 and 700 allowed weights

//Colours
$primary : #585D74;
$secondary : #42343D;
$neutral : #735D53;
$bold : #D9583A;
$dark : #111;
$light : #fff;